{% extends 'quotes/base.html' %}

{% block content %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
<!--            <img src="..." class="card-img-top" alt="...">-->
<!--            <h5 class="card-title">Random Quote</h5>-->
            <p class="card-text">{{ quote.quote_text }}</p>
            <p class="card-text">{{ quote.likes }} likes</p>
            <a href="{% url 'quotes:random' %}" class="btn btn-primary">Next Quote</a>
        </div>
    </div>
{% endblock %}
